.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b 0%, #ff136f 100%);
    color: #fff;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor:pointer;
}
.container{
    margin-bottom: 100px;
}
.cat1{
    background-color: #ff136f;
}
.cat2{
    background-color: aqua;
}
.cat3{
    background-color: orange;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.catagories h1{
    color:white;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px gray;
}
#Subscribe{
    height: 300px;
}
#ft{
    text-align:center;
}